
DROP TABLE IF EXISTS OrderDetails;
DROP TABLE IF EXISTS Products;
DROP TABLE IF EXISTS Categories;
DROP TABLE IF EXISTS Orders;
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS EmployeeTerritories;
DROP TABLE IF EXISTS Territories;
DROP TABLE IF EXISTS Employees;
DROP TABLE IF EXISTS Regions;
DROP TABLE IF EXISTS Shippers;
DROP TABLE IF EXISTS Suppliers;


CREATE TABLE Categories
(
    CategoryID   SERIAL        NOT NULL PRIMARY KEY ,
    CategoryName VARCHAR(15)  NOT NULL,
    Description  VARCHAR(100) NULL
);

CREATE TABLE Customers
(
    CustomerID   INT         NOT NULL PRIMARY KEY,
    CompanyName  VARCHAR(40) NOT NULL,
    ContactName  VARCHAR(30) NULL,
    ContactTitle VARCHAR(30) NULL,
    Address      VARCHAR(60) NULL,
    City         VARCHAR(15) NULL,
    Region       VARCHAR(15) NULL,
    PostalCode   VARCHAR(10) NULL,
    Country      VARCHAR(15) NULL,
    Phone        VARCHAR(24) NULL,
    Fax          VARCHAR(24) NULL
);

CREATE TABLE Employees
(
    EmployeeID      SERIAL      NOT NULL PRIMARY KEY,
    LastName        VARCHAR(20) NOT NULL,
    FirstName       VARCHAR(10) NOT NULL,
    Title           VARCHAR(30) NULL,
    TitleOfCourtesy VARCHAR(25) NULL,
    BirthDate       DATE        NULL,
    HireDate        DATE        NULL,
    Address         VARCHAR(60) NULL,
    City            VARCHAR(15) NULL,
    Region          VARCHAR(15) NULL,
    PostalCode      VARCHAR(10) NULL,
    Country         VARCHAR(15) NULL,
    HomePhone       VARCHAR(24) NULL,
    Extension       VARCHAR(4)  NULL,
    Notes           TEXT        NULL,
    ReportsTo       INT         NULL
);

CREATE TABLE EmployeeTerritories
(
    EmployeeID  INT         NOT NULL,
    TerritoryID VARCHAR(20) NOT NULL, 
	PRIMARY KEY (
		EmployeeID,
		TerritoryID
	)
) ;

CREATE TABLE OrderDetails
(
    OrderID   INT      NOT NULL,
    ProductID INT      NOT NULL,
    UnitPrice MONEY    NOT NULL,
    Quantity  SMALLINT NOT NULL,
    Discount  REAL     NOT NULL,
	PRIMARY KEY(
		OrderID,
		ProductID
	)
);

CREATE TABLE Orders
(
    OrderID        SERIAL      NOT NULL	PRIMARY KEY,
    CustomerID     INT         NULL,
    EmployeeID     INT         NULL,
    OrderDate      DATE        NULL,
    RequiredDate   DATE        NULL,
    ShippedDate    DATE        NULL,
    ShipVia        INT         NULL,
    Freight        MONEY       NULL,
    ShipName       VARCHAR(40) NULL,
    ShipAddress    VARCHAR(60) NULL,
    ShipCity       VARCHAR(15) NULL,
    ShipRegion     VARCHAR(15) NULL,
    ShipPostalCode VARCHAR(10) NULL,
    ShipCountry    VARCHAR(15) NULL
);

CREATE TABLE Products
(
    ProductID       SERIAL      NOT NULL PRIMARY KEY,
    ProductName     VARCHAR(40) NOT NULL,
    SupplierID      INT         NULL,
    CategoryID      INT         NULL,
    QuantityPerUnit VARCHAR(20) NULL,
    UnitPrice       MONEY       NULL,
    UnitsInStock    SMALLINT    NULL,
    UnitsOnOrder    SMALLINT    NULL,
    ReorderLevel    SMALLINT    NULL,
    Discontinued    SMALLINT    NOT NULL
);

CREATE TABLE Regions
(
    RegionID          INT       NOT NULL	PRIMARY KEY,
    RegionDescription NCHAR(50) NOT NULL
);

CREATE TABLE Shippers
(
    ShipperID   SERIAL      NOT NULL PRIMARY KEY,
    CompanyName VARCHAR(40) NOT NULL,
    Phone       VARCHAR(24) NULL
);

CREATE TABLE Suppliers
(
    SupplierID   SERIAL      NOT NULL	PRIMARY KEY,
    CompanyName  VARCHAR(40) NOT NULL,
    ContactName  VARCHAR(30) NULL,
    ContactTitle VARCHAR(30) NULL,
    Address      VARCHAR(60) NULL,
    City         VARCHAR(15) NULL,
    Region       VARCHAR(15) NULL,
    PostalCode   VARCHAR(10) NULL,
    Country      VARCHAR(15) NULL,
    Phone        VARCHAR(24) NULL,
    Fax          VARCHAR(24) NULL,
    HomePage     TEXT        NULL
);

CREATE TABLE Territories
(
    TerritoryID          VARCHAR(20) NOT NULL	PRIMARY KEY,
    TerritoryDescription NCHAR(50)   NOT NULL,
    RegionID             INT         NOT NULL
);

INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES (1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales');
INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings');
INSERT INTO Categories (CategoryID, CategoryName, Description) VALUES (3, 'Confections', 'Desserts, candies, and sweet breads');

INSERT INTO Customers (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES (1, 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', NULL, '12209', 'Germany', '030-0074321', '030-0076545');
INSERT INTO Customers (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', NULL, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745');
INSERT INTO Customers (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax) VALUES (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', NULL, '05023', 'Mexico', '(5) 555-3932', NULL);



INSERT INTO Employees (EmployeeID, LastName, FirstName, Title, TitleOfCourtesy, BirthDate, HireDate, Address, City, Region, PostalCode, Country, HomePhone, Extension, Notes, ReportsTo) VALUES (1, 'Davolio', 'Nancy', 'Sales Representative', 'Ms.', '1948-12-08','1992-05-01', '507 - 20th Ave. E. Apt. 2A', 'Seattle', 'WA', '98122', 'USA', '(206) 555-9857', '5467', 'Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.', 2);




INSERT INTO EmployeeTerritories (EmployeeID, TerritoryID) VALUES (1, '06897');
INSERT INTO EmployeeTerritories (EmployeeID, TerritoryID) VALUES (1, '19713');
INSERT INTO EmployeeTerritories (EmployeeID, TerritoryID) VALUES (2, '01581');

INSERT INTO OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 11, 14.00, 12, 0); 
INSERT INTO OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 42, 9.80, 10, 0); 
INSERT INTO OrderDetails (OrderID, ProductID, UnitPrice, Quantity, Discount) VALUES (10248, 72, 34.80, 5, 0); 



INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10248, 85, 5, '2012-07-04', '2012-08-01', '2012-07-16', 3, 32.38, 'Vins et alcools Chevalier', '59 rue de l''Abbaye', 'Reims', NULL, '51100', 'France'); 
INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10249, 79, 6, '2012-07-05', '2012-08-16', '2012-07-10', 1, 11.61, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', NULL, '44087', 'Germany'); 
INSERT INTO Orders (OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry) VALUES (10250, 34, 4, '2012-07-08', '2012-08-05', '2012-07-12', 2, 65.83, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil'); 




INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.0000, 39, 0, 10, 0)							;
INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.0000, 17, 40, 25, 0)							;
INSERT INTO Products (ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued) VALUES (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.0000, 13, 70, 25, 0)				;




INSERT INTO Regions (RegionID, RegionDescription) VALUES (1, 'Eastern                                           ');
INSERT INTO Regions (RegionID, RegionDescription) VALUES (2, 'Western                                           ');
INSERT INTO Regions (RegionID, RegionDescription) VALUES (3, 'Northern                                          ');




INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (1, 'Speedy Express', '(503) 555-9831');
INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (2, 'United Package', '(503) 555-3199');
INSERT INTO Shippers (ShipperID, CompanyName, Phone) VALUES (3, 'Federal Shipping', '(503) 555-9931');





INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', NULL, 'EC1 4SD', 'UK', '(171) 555-2222', NULL, NULL)																																	 ;
INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', NULL, '#CAJUN.HTM#')																												 ;
INSERT INTO Suppliers (SupplierID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax, HomePage) VALUES (3, 'Grandma Kelly''s Homestead', 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', NULL)																											 ;
																																																																																																										 




INSERT INTO Territories (TerritoryID, TerritoryDescription, RegionID) VALUES (N'01581', 'Westboro                                          ', 1);
INSERT INTO Territories (TerritoryID, TerritoryDescription, RegionID) VALUES (N'01730', 'Bedford                                           ', 1);
INSERT INTO Territories (TerritoryID, TerritoryDescription, RegionID) VALUES (N'01833', 'Georgetow                                         ', 1);


ALTER TABLE Employees 
ADD FOREIGN KEY(ReportsTo)
REFERENCES Employees (EmployeeID);

ALTER TABLE EmployeeTerritories  
ADD FOREIGN KEY(EmployeeID)
REFERENCES Employees (EmployeeID);

ALTER TABLE EmployeeTerritories  
ADD FOREIGN KEY(TerritoryID)
REFERENCES Territories (TerritoryID);

ALTER TABLE OrderDetails
ADD FOREIGN KEY(OrderID)
REFERENCES Orders (OrderID);

ALTER TABLE OrderDetails
ADD FOREIGN KEY(ProductID)
REFERENCES Products (ProductID);

ALTER TABLE Orders
ADD FOREIGN KEY(CustomerID)
REFERENCES Customers (CustomerID);

ALTER TABLE Orders
ADD FOREIGN KEY(EmployeeID)
REFERENCES Employees (EmployeeID);

ALTER TABLE Orders
ADD FOREIGN KEY(ShipVia)
REFERENCES Shippers (ShipperID);

ALTER TABLE Products
ADD FOREIGN KEY(CategoryID)
REFERENCES Categories (CategoryID);

ALTER TABLE Products
ADD FOREIGN KEY(SupplierID)
REFERENCES Suppliers (SupplierID);

ALTER TABLE Territories
ADD FOREIGN KEY(RegionID)
REFERENCES Regions (RegionID);

